@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ye bird wears TNs yer bird wears trackies yer bird smokes wood haha she can´t pack it yer bird goes football
    and screams let´s have it.
</p>
